    <h3 class="header">{{ 'edit contractor'|trans()|capitalize }}</h3>
    <form id="editcontractor">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix disabled">numbers</i>
                <input disabled id="id" name="id" type="text" placeholder="{{ 'id'|trans()|capitalize }}" value="{{ id }}">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">qr_code_2</i>
                <input id="code" name="code" type="text" class="validate" placeholder="{{ 'code'|trans()|capitalize }}" value="{{ code }}">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">short_text</i>
                <input id="name" name="name" type="text" class="validate" placeholder="{{ 'name'|trans()|capitalize }}" value="{{ name }}">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">kvk</i>
                <input id="kvk" name="kvk" type="text" placeholder="{{ 'kvk'|trans()|capitalize }}" value="{{ kvk }}">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">belastingdienst</i>
                <input id="btw" name="btw" type="text" placeholder="{{ 'btw'|trans()|capitalize }}" value="{{ btw }}">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">http</i>
                <input id="website" name="website" type="url" maxlength="256" placeholder="{{ 'website'|trans()|capitalize }}" value="{{ website }}">
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <button type="submit" class="btn" name="save">
                    <i class="material-icons left">save</i><span class="button-content hide-on-small-only">{{ 'save'|trans()|capitalize }}</span>
                </button>
            </div>
            <div class="col s6">
                <button class="btn right" name="cancel">
                    <i class="material-icons left">cancel</i><span class="button-content hide-on-small-only">{{ 'cancel'|trans()|capitalize }}</span>
                </button>
            </div>
        </div>
    </form>
