    <h3 class="header">{{ Title }}</h3>
    <div class="row">
        <div class="col s3 m3 l2">
            {% if New is not null and New is not empty %}
            <button class="btn" onclick="{{ New.Loader }}();">
                <i class="material-icons">{{ New.Icon }}</i><span class="button-content hide-on-small-only">{{ 'new'|trans()|capitalize }}</span>
            </button>
            {% endif %}
        </div>
        <div class="col s9 m9 l10">
            {% if Search is not null and Search is not empty %}
            <button class="btn search-button" onclick="{{ Search.Loader }}(1, $('input#searchterm').val());">
                <i class="material-icons">search</i><span class="button-content hide-on-small-only">{{ 'search'|trans()|capitalize }}</span>
            </button>
            <input id="searchterm" class="search-term" type="search"{% if Search.Term is not null and Search.Term is not empty %} value="{{ Search.Term }}"{% endif %}>
            {% endif %}
        </div>
    </div>
    <table>
        <thead>
            <tr>
                {{ Header }}
            </tr>
        </thead>
        <tbody>
            {{ Rows }}
        </tbody>
    </table>
    <ul class="pagination center">
        {% if Pager.previous > 0 %}
            {% if Pager.current > 5 %}
            <li>
                <a href="javascript:{{ Callback }}(1, {{ SeachTerm }});"><i class="material-icons">keyboard_double_arrow_left</i></a>
            </li>
            {% endif %}
            <li>
                <a href="javascript:{{ Callback }}({{ Pager.previous }}, {{ SeachTerm }});"><i class="material-icons">chevron_left</i></a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="javascript:void(0);"><i class="material-icons">chevron_left</i></a>
            </li>
        {% endif %}
        {% for i in 4..1 %}
            {% set previousIndex = Pager.current - i %}
            {% if previousIndex > 0 %}
                <li>
                    <a href="javascript:{{ Callback }}({{ previousIndex }}, {{ SeachTerm }});">{{ previousIndex }}</a>
                </li>
            {% endif %}
        {% endfor %}
        <li class="active">
            <a href="javascript:{{ Callback }}({{ Pager.current }}, {{ SeachTerm }});">{{ Pager.current }}</a>
        </li>
        {% for i in 1..4 %}
            {% set nextIndex = Pager.current + i %}
            {% if nextIndex <= Pager.count %}
                <li>
                    <a href="javascript:{{ Callback }}({{ nextIndex }}, {{ SeachTerm }});">{{ nextIndex }}</a>
                </li>
            {% endif %}
        {% endfor %}

        {% if Pager.next > 0 %}
            <li>
                <a href="javascript:{{ Callback }}({{ Pager.next }}, {{ SeachTerm }});"><i class="material-icons">chevron_right</i></a>
            </li>
            {% if Pager.current < (Pager.count - 5) %}
            <li>
                <a href="javascript:{{ Callback }}({{ Pager.count }}, {{ SeachTerm }});"><i class="material-icons">keyboard_double_arrow_right</i></a>
            </li>
            {% endif %}
        {% else %}
            <li class="disabled">
                <a href="javascript:void(0);"><i class="material-icons">chevron_right</i></a>
            </li>
        {% endif %}
    </ul>
    <div class="pagecount center">
        {{ 'page %current% of %total%'|trans({'current': Pager.current, 'total': Pager.count})|capitalize }}
    </div>
