<div id="modal-delete" class="modal">
    <div class="modal-content">
        <h4>{{ 'delete'|trans()|capitalize }} {{ Name }}</h4>
        <p>{{ 'are you sure?'|trans()|capitalize }}</p>
    </div>
    <div class="modal-footer">
        <a class="modal-close btn-flat">No</a>
        <a onclick="{{ Callback }}({{ Id }});" class="modal-close btn-flat">Yes</a>
    </div>
</div>