        <div class="row">
            <h3 class="header">{{ 'Building Examinator'|trans()|capitalize }}</h3>
            <div class="col s6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ 'housingstocks'|trans()|capitalize }}</span>
                        <p><span class="badge">{{ HousingStocks.Count }}</span>{{ 'count'|trans()|capitalize }}</p>
                        <p><span class="badge">{{ HousingStocks.LatestCreate  }}</span>{{ 'latest creation'|trans()|capitalize }}</p>
                        <p><span class="badge">{{ HousingStocks.LatestChange  }}</span>{{ 'latest change'|trans()|capitalize }}</p>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ 'addresses'|trans()|capitalize }}</span>
                        <p><span class="badge">{{ Addresses.Count  }}</span>{{ 'count'|trans()|capitalize }}</p>
                    </div>
                </div>
            </div>
        </div>