{% extends "main.twig" %}

{% block body %}
    <nav>
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s4 m3 l2">
                    <div class="slide-out-nav-menu-button">
                        <a href="#" data-target="slide-out" class="top-nav sidenav-trigger hide-on-large-only">
                            <i class="material-icons medium">menu</i>
                        </a>
                        <div id="logo-letter" class="hide-on-med-and-down"><a href="{{ path('homepage') }}"><i class="material-icons ddd">d_d_d</i>ob<span style="color: #ff0000;">r</span>o</a></div>
                    </div>
                </div>
                <div class="col s4 m6 l8">
                    <div id="activeHousingstockSelector" class="right-align"></div>
                </div>
                <div class="col s4 m3 l2">
                    <div class="fixed-action-btn user-profile">
                        <a class="btn-floating">
                            <i class="material-icons prefix">account_circle</i>
                        </a>
                        <ul>
                            <li><a class="btn-floating" href="{{ path('logout') }}"><i class="material-icons">logout</i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li class="active">
            <a href="javascript:void(0);" onclick="checkMenu(this);loadHomePage();">
                <i class="material-icons">start</i>{{ 'home'|trans|capitalize }}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);loadTestPage();">
                <i class="material-icons">contact_support</i>{{ 'test'|trans|capitalize }}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);loadMunicipalitiesPage();">
                <i class="material-icons">municipality</i>{{ 'municipalities'|trans|capitalize }}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);loadCitiesPage();">
                <i class="material-icons">city</i>{{ 'cities'|trans|capitalize }}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);loadResidentialAreasPage();">
                <i class="material-icons">residentialarea</i>{{ 'residential areas'|trans|capitalize }}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);loadNeighbourhoodsPage();">
                <i class="material-icons">neighbourhood</i>{{ 'neighbourhoods'|trans|capitalize }}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);loadVtws();">
                <i class="material-icons">villa</i>{{ 'VTW\'s'|trans|capitalize }}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);loadPublicSpacesPage();">
                <i class="material-icons">road</i>{{ 'public spaces'|trans|capitalize }}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);loadBuildingsPage();">
                <i class="material-icons">home_filled</i>{{ 'buildings'|trans|capitalize }}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);loadResidencesPage();">
                <i class="material-icons">cottage</i>{{ 'residences'|trans|capitalize }}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);loadBlocksPage();">
                <i class="material-icons">view_comfortable</i>{{ 'blocks'|trans|capitalize }}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);loadBuildingtypesPage();">
                <i class="material-icons">home_work</i>{{ 'building types'|trans|capitalize }}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);loadAddressesPage();">
                <i class="material-icons">home</i>{{ 'addresses'|trans|capitalize }}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);loadProjectsPage();">
                <i class="material-icons">holiday_village</i>{{ 'projects'|trans|capitalize }}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);">
                <i class="material-icons">calendar_month</i>{{ 'planning'|trans|capitalize }} {# icon of a birthday calender with a small clock #}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);">
                <i class="material-icons">sync_alt</i>{{ 'timeline'|trans|capitalize }} {# icon of a line from left to right with build/construction icon for work and settings (tasks), format_paint/brush for painting task, camera_alt for taking pictures #}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);">
                <i class="material-icons">map</i>{{ 'mapping'|trans|capitalize }} {# icon location_groundplan #}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);loadOwnersPage();">
                <i class="material-icons">owner</i>{{ 'owners'|trans|capitalize }}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);loadHousingstocksPage();">
                <i class="material-icons">domain</i>{{ 'housingstocks'|trans|capitalize }}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);loadContractorsPage();">
                <i class="material-icons">contractor</i>{{ 'contractors'|trans|capitalize }}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);loadSubcontractorsPage();">
                <i class="material-icons">subcontractor</i>{{ 'subcontractors'|trans|capitalize }}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="void(0);" class="subheader">
                <i class="material-icons">group</i>{{ 'groups'|trans|capitalize }}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);loadUsersPage();">
                <i class="material-icons">person</i>{{ 'users'|trans|capitalize }}
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" onclick="checkMenu(this);loadCreditsPage();">
                <i class="material-icons">workspace_premium</i>{{ 'credits'|trans|capitalize }}
            </a>
        </li>
    </ul>
    <div class="container" id="content">
    </div>
    <div class="overlay">
        <div class="overlay__inner">
            <div class="overlay__content">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-green-only">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
