{% extends "main.twig" %}

{% block body %}
    <div class="row">
        <form class="col s12 offset-m3 m6 offset-l4 l4" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <h2>Buildingexaminator</h2>
            {% if error %}
            <div class="card error red lighten-2 login-error-messages">
                <div class="card-content white-text valign-wrapper">
                    <i class="medium material-icons">error</i>
                    <p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="email" name="email" type="email" class="validate" value="{{ lastUsername }}">
                    <label for="email">{{ 'email'|trans|capitalize }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">fingerprint</i>
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">{{ 'password'|trans|capitalize }}</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button class="btn" id="login" name="login" type="submit">{{ 'login'|trans|capitalize }}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
