<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <title>Dobro</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('node_modules/materialize-css/dist/css/materialize.min.css') }}" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('node_modules/select2/dist/css/select2.min.css') }}"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('css/main.css') }}"/>
        <script type="application/javascript" src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
        <script type="application/javascript" src="{{ asset('node_modules/moment/min/moment.min.js') }}"></script>
        <script type="application/javascript" src="{{ asset('node_modules/materialize-css/dist/js/materialize.min.js') }}"></script>
        <script type="application/javascript" src="{{ asset('node_modules/select2/dist/js/select2.full.min.js') }}"></script>
        <script type="application/javascript" src="{{ asset('node_modules/twig/twig.min.js') }}"></script>
        <script type="application/javascript" src="{{ asset('node_modules/bazinga-translator/js/translator.js') }}"></script>
        <script type="application/javascript" src="{{ url('bazinga_jstranslation_js') }}"></script>
        <script type="application/javascript" src="{{ asset('js/main.js') }}"></script>
        <script type="module" src="{{ asset('js/arcgis.js') }}"></script>
    </head>
    <body>
{% block body %}{% endblock %}
    </body>
</html>